<ul class="menu">
    <li><a class="page-link" href="/syllabus"><i class="fa fa-list-ul fa-lg"></i> Syllabus</a></li>
    <li><a class="page-link" href="/schedule/"><i class="fas fa-book-reader"></i> Schedule</a></li>
    <li><a class="page-link" href="/assignments/"><i class="fas fa-pencil-ruler"></i> Assignments</a></li>
    <li><a class="page-link" href="/project/"><i class="fas fa-hammer"></i> Project</a></li>
    <!--<li><a class="page-link" href="/resources/"><i class="fas fa-book"></i> Resources</a></li>-->
</ul>
